body {
    margin: 0;
    background: black;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='74.75' height='61.25' viewBox='0 0 74.75 61.25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ctext x='30' y='40' fill='red'%3eTUFF%3c/text%3e%3c/svg%3e ");

}

.images {
  width: 50%;
  max-width: 2160px;
  margin: 20px auto;
}

.goat {
  width: 100%;
  height: auto;
  aspect-ratio: 9 / 16;
  object-fit: cover;
  border-radius: 67px;
  display: block;
  }

  .text-me {
    background: linear-gradient(to right, red 40%, white 50%, blue 60%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-align: center;
    font-size: 37px;
  }
